.elemento .back {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
.container {
  display: inline;
  align-items: center;
}

.fundo {
  overflow: hidden;
  background-color: #043873;
  display: flex;
  max-width: 1260px;
  min-width: 320px;
  align-items: center;
  margin: auto;
}
.cabeca {
  justify-content: space-between;
}
.prod {
  margin-left: 100px;
  display: inline-block;
  margin: 15px;
}
.setinha {
  margin: 0px;
  display: inline-block;
}
.botao1 {
  text-align: center;
  display: inline-block;
}
.botao2 {
  text-align: center;
  align-items: center;
  display: inline-block;
  width: 227px;
  height: 60px;

  background: #4f9cf9;
  border-radius: 8px;
}
.texto {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.texto2 {
  text-decoration: none;
  color: #043873;
  font-weight: bold;
  margin: 10px;
}
.texto3 {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin: 10px;
}
.botao3 {
  width: 126px;
  height: 60px;

  background: #ffe492;
  border-radius: 8px;
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center;
}
.botao4 {
  width: 227px;
  height: 60px;

  background: #4f9cf9;
  border-radius: 8px;
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center;
}
.botoes {
  margin-right: 0px;
  margin-left: 70px;
  display: inline-block;
}
.logo {
  margin-left: 50px;
  width: 10%;
}
.letras {
  display: inline-block;
  margin-left: 100px;
}
.btn {
  display: none;
}

.titulo {
  padding: 40px;
  color: white;
  margin: 30%;
  text-decoration: none;
  color: #ffffff;
  max-width: 1260px;
  height: auto;
  justify-content: center;
  position: absolute;
  text-align: center;
}
.pagina2 {
  background-color: white;
  max-width: 1260px;
  min-width: 320px;
  margin: auto;
}

.titulo2 {
  display: flex;
  position: relative;
  top: 350px;
  margin-left: 700px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: -0.02em;

  color: #212529;

  flex: 2;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

img {
  width: 50%;
}
@media (max-width: 768px) and (min-width: 321px) {
  .letras {
    display: none;
  }
  .botoes {
    display: none;
  }
  .logo {
    display: inline-block;
    margin-left: 0px;
  }
  .btn {
    display: inline-block;
    margin-left: 400px;
  }
  .fundo {
    display: flex;
    width: 100%;
  }
  .imagem {
    display: flex;
    justify-content: center;
    width: 110%;
    margin-top: 50px;
    margin-left: -40px;
  }
  .titulo2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    margin-left: 0px;
  }
  .sub-texto {
    display: flex;
    justify-content: center;
  }
  .Try-it-now {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 320px) {
}
