
.elemento .back
{
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.container
{
    display: inline;
    align-items: center;
}

.fundo
{   
    overflow: hidden;
    background-color:#043873;
    display: flex;
    width: 1260px/768px;
  align-items: center;
}
.cabeca
{
    justify-content: space-between;
}
.prod
{
    margin-left: 100px;
    display: inline-block;
    margin: 15px;

}
.setinha
{
    margin: 0px;
    display: inline-block;
}
.botao1
{

    text-align: center;
    display: inline-block;
   
}
.botao2
{
    text-align: center;
    align-items:center;
    display: inline-block;
    width: 227px;
    height: 60px;

    background: #4F9CF9;
    border-radius: 8px;
}
.texto
{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.texto2
{
    text-decoration: none;
    color:  #043873;
    font-weight: bold;
    margin:10px;
}
.texto3
{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    margin:10px;
}
.botao3
{
    width: 126px;
    height: 60px;

    background: #FFE492;
    border-radius: 8px; 
    display: flex;
     justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; 
}
.botao4
{
    width: 227px;
    height: 60px;

    background: #4F9CF9;
    border-radius: 8px;
    display: flex;
     justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; 
}
.botoes
{
    margin-right: 0px;
    margin-left: 70px;
    display: inline-block;
}
.logo
{
    margin-left: 50px;
}
.letras
{
    display: inline-block;
    margin-left: 100px;
}
.btn
    {
        display: none;
    }

@media (max-width: 726px)
{
    .letras
    {
        display:none;
    }
    .botoes
    {
        display:none;
    }
    .logo
    {
        display: inline-block;
        margin-left: 0px;
    }
    .btn
    {
        display: inline-block;
        margin-left: 400px;
    }
    .fundo
    {
    display: flex;
    width: 100%;
    }
    
}
.titulo
{
    padding: 40px;
    color: white;
    margin: 30%;
    text-decoration: none;
    color: #FFFFFF;
    max-width: 1260px;
    height: auto;
    justify-content: center;
    position: absolute;
    text-align: center;
}